@import url(fontawesome-all.min.css);

/* =========================================================
   Reset
   ========================================================= */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* =========================================================
   Base
   ========================================================= */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
  background: #312450;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  animation: none !important;
  transition: none !important;
}

/* =========================================================
   Typography
   ========================================================= */

body,
input,
select,
textarea {
  color: rgba(255, 255, 255, 0.55);
  font-family: "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16.5pt;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.01em;
}

#sidebar nav a {
  font-weight: 400;
}

a {
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #ffffff;
}

strong,
b {
  color: #ffffff;
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.01em;
}

/* =========================================================
   Wrapper
   ========================================================= */

.wrapper {
  position: relative;
}

.wrapper > .inner {
  padding: 5em 5em 3em 5em;
  max-width: 100%;
  width: 75em;
}

.wrapper.alt {
  background-color: #261c3e;
}

.wrapper.style1 {
  background-color: #5e42a6;
}

.wrapper.style1-alt {
  background-color: #493382;
}

.wrapper.style2 {
  background-color: #5052b5;
}

.wrapper.style2-alt {
  background-color: #3e4094;
}

.wrapper.style3 {
  background-color: #b74e91;
}

.wrapper.style3-alt {
  background-color: #953d75;
}

/* =========================================================
   Sidebar
   ========================================================= */

#sidebar {
  padding: 2.5em 2.5em 0.5em 2.5em;
  background: #312450;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 18em;
  z-index: 10000;
}

/* =========================================================
   Intro
   ========================================================= */

#intro {
  background-attachment: fixed;
  background-image: url("images/intro.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* =========================================================
   Custom Overrides（保持原样，仅整理）
   ========================================================= */

body {
  background-color: #FFFFFF;
}

/* Sidebar */
#sidebar {
  background-color: #12194F;
}

#sidebar nav a:before {
  background: rgba(255, 255, 255, 0.25);
}

#sidebar nav a:after {
  background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.6));
}

/* Welcome / Intro */
#intro {
  background-color: #12194F !important;
  background-image: none !important;
}

/* Section Colors */
.wrapper.style1 {
  background-color: #348EFF;
}

.wrapper.style2 {
  background-color: #12194F;
}

.wrapper.style3 {
  background-color: #348EFF;
}

/* Text Contrast */
.wrapper.style1,
.wrapper.style3 {
  color: #0B1A33;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style3 h1,
.wrapper.style3 h2 {
  color: #0B1A33;
}

/* Footer */
#footer {
  background-color: #348EFF;
}

#footer,
#footer p,
#footer a {
  color: #0B1A33;
}

#footer a:hover {
  color: #12194F;
}
